.placecard {
  position: relative;
  border-radius: 0.75rem;
  text-align: center;
  overflow: hidden;
  max-height: 22rem;
  @media (min-width: 992px) {
    max-height: 27rem;
  }

  img {
    max-width: 100%;
    object-fit: none;
    position: relative;
    object-position: top;
    @media (min-width: 992px) {
      object-fit: cover;
      object-position: center;
    }
  }

  &__title {
    font: 700 1.4rem/1.6rem var(--Cairo);
    text-transform: capitalize;
    margin: 0 0 .5rem 0;
  }
  &__body {
    position: absolute;
    padding: 1rem;
    z-index: 1;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    a {
      color: var(--primary-color-dark);
    }
  }
}